body{
    padding: 0;
    margin: 0;
}
.encabezado{
    background-color: #212121;
    padding: 1%;
}
.contenido{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}
#titulo{
    font-size: xx-large;
}
.links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: large;
}
.links li{
    margin-left: 8%;
    margin-right: 8%;
}
.links a{
    text-decoration: none;
    color: white;
}
#link{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
#link:hover, #link:focus {
    background-size: 100% 2px;
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#card{
    flex-wrap: wrap;
    width: 400px;
    padding:1%;
    margin-top: 1%;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid black;
    box-shadow: 0 3px 5px 0px black;
}
#card img,h2{
    width: 100%;
    text-align: center;
}
#card img{
    border: 1px solid black;
    border-radius: 4%;
}
.footer{
    width: 100%;
    margin-top: 2%;
    background-color: #212121;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer p{
    color: white;
}
.imagen-footer{
    vertical-align: middle;
}
.redes li{
    display: inline;
    list-style-type: none;
}
.redes li a{
    padding: 5px 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    line-height: 40px;
    font-size: 25px;
}
.redes ul li .instagram:hover{
    background: #e5143a;
}
.redes ul li .facebook:hover{
    background: #149fe5;
}
.redes ul li .twitter:hover{
    background: #2222ae;
}
.acordion1{
    text-align: center;
    color: white;
    background-color: #333;
}
@media screen and (min-width:320px) and (max-width: 420px){
    body{
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
    #titulo{
        font-size: large;
    }
    .contenido{
        width: 75%;
    }
    .links{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-size: small;
    }

    #card{
        flex-wrap: wrap;
        width: 400px;
        padding:1%;
        margin-top: 5%;
        margin-left: 8px;
        margin-right: 8px;
        border: 1px solid white;
        background-color: transparent;
        box-shadow: 0 3px 5px 0px black;
    }
    .footer{
        margin-top: 2%;
        background-color: #212121;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 12px;
    }
    .imagen-footer img{
    width: 150px;
    }
    .acordion2{
        background-color: white;
    }
}
@media screen and (min-width:421px) and (max-width: 620px){
    body{
        background-color: #330000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    #titulo{
        font-size: large;
    }

    .contenido{
        width: 92%;
    }

    .footer{
    width: 100%;
    }
    
    .acordion2{
        background-color: white;
    }


}
